{% extends 'layout/layout_teacher.html' %} {% block content %}

<h1 style="margin-top: 10px; text-align: center;">แก้ไขผู้ใช้</h1>

<div class="col d-flex justify-content-center">

    <div class="card " style="width: 30rem;">
        <div class="card-body">
            <div class="col d-flex justify-content-center">
                <img src="{{ url_for('static', filename='edit_user.png') }}" alt="" style="height: 10rem; ">
            </div>
            <form action="{{url_for('manage_user_route.edit_user2')}}" onSubmit="if(!confirm('คุณต้องการที่จะเปลี่ยนข้อมูลผู้ใช้หรือไม่')){return false;}" method="POST">
                <div class="mb-3">
                    <label class="form-label">ชื่อ</label>
                    <input type="text" class="form-control" name="name" value="{{firstname}}">
                </div>

                <div class="mb-3 ">
                    <label class="form-label ">นามสกุล</label>
                    <input type="text " class="form-control " name="lastname" value="{{lastname}}">
                </div>

                <div class="mb-3 ">
                    <label class="form-label">กลุ่มเรียน</label>
                    <input type="text" class="form-control " name="section" value="{{section}}">
                </div>


        </div>
    </div>
</div>
</div>
<div class="col-md-12 text-center" style="margin-top: 10px;">
    <button style="margin-bottom: 10px;" type="submit" class="btn btn-success ">บันทึก</button>
</div>
</form>
{% endblock %}